<%- include ('../partials/header') %>
<div class="container my-5">
    <header class="jumbotron">
        <h1>All about me</h1>
    </header>
    <div>
        <p>
            The autobiograpgy of Kuwar Dua.
        </p>
    </div>
</div>
    <%- include ('../partials/footer') %>