<%- include ('../partials/header') %>
<div class="container my-5">
    <header class="jumbotron">
        <h1>All about my contact</h1>
    </header>
    <div style="background-color:#FAAD9D ;">
        <form>
            <input type = "text" placeholder="Type your name here DUh!!">
            <p>Start doing your job at </p>
            <select id='job'>
                <option value="..">../</option>
                <option value="..">RBC</option>
                <option value="..">TD</option>
                <option value="..">Mintent</option>
                <option value="..">Amazon</option>
            </select>
            <p>
                ROFl ☺
            </p>
        </form>
        <p>
           My Name is Kuwar Dua currently residing in Barrie. I am in my last study semester and after that will have 2 co-op work terms. I love playing badminton and cricket. In the meanwhile I am running my own business to earn some residual income.
        </p>
    </div>
</div>
    <%- include ('../partials/footer') %>